/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Main-sub content */

.main-sub {
    max-width: 100%;
    background-image: linear-gradient(to right bottom,
    rgba(187, 71, 71, 0.8), 
    rgba(100, 15, 15, 0.8)),
     url(../img/thehartsspeaking.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: .70;
    padding: 2rem;
    color: #868686;
   }
  
   .main__big-title2 {
    font-size: 5.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #fff;
  
    padding: 2rem;
    text-align: center;
    transition: all .3s;
    z-index: 1000;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
   
   }
  
   .what-do-i-do-box {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   }
  
  .what-do-i-do {
    display: grid;
    grid-column-start: 2;
    grid-column-end: span 2;
    color: #fff;
    padding: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    line-height: 2.8rem;
    margin-top: -2rem;
  }
  
  .what-do-i-do span {
    font-size: 2.5rem;
    margin-top: 2rem;
    font-weight: 500;
  }
  
     .row2 {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: center;
      grid-column-gap: 5rem;
     }
  
     .video1 {
       display: grid;
       justify-content: right;
       margin-top: -5rem;
       padding: 2rem;
     }
  
     .video2 {
      display: grid;
      justify-content: left;
      margin-top: -5rem;
      padding: 2rem;
     }
  
     .what-do-i-do-btn-box {
       display: block;
       width: 100%;
       
       text-align: center;
     }
  
     .what-do-i-do-btn {
      display: inline-block;
      font-size: 2rem;
     
      text-decoration: none;
      color: rgba(187, 71, 71, 0.8);
      background-color: #fff;
      transition: all .2s; 
      font-weight: 500;
     
    }
    
      .what-do-i-do-btn:hover {
        background-color: #fff;
        color: rgba(187, 71, 71, 0.8);
        padding: .7rem .7rem;
        transform: scale(1.2);
        transform: translate(1.1);
       }
    
       .what-do-i-do-btn:link, .what-do-i-do-btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 4rem;
        border-radius: 10rem;
        transition: all .2s;
        font-size: 2.5rem; 
        margin-top: .5rem;
      }
      
      .what-do-i-do-btn:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
       }
      
        .what-do-i-do-btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
         }
      
      .what-do-i-do-btn:active {
        transform: translateY(-0.1rem); 
      }