@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Hind+Guntur:400,500,600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

html {
  font-size: 62.5%;
 }

body {
  padding: 2rem;
  font-family: 'Montserrat', sans-serif !important;
  background: #ececec;
  font-weight: 500;
  
 }
















































 






